.root{    
    -fx-base: rgb(80, 80, 80);
    -fx-background: rgb(50, 50, 50); 
    -fx-focus-color: #e17c08;
    default-color: #e17c08;
}

.ikonli-font-icon {
    -fx-icon-color: #c5c5c5;
}

#iconcounter {
    -fx-text-fill: -fx-base;    
    -fx-background-color: default-color;
    -fx-background-radius: 10 10 10 10;
    -fx-background-insets: -2;
    -fx-padding: 0 2 0 2;    
    -fx-font-size: 8px;
}

#star-ikonli-font-icon {    
    -fx-icon-size: 6;
    -fx-icon-color: radial-gradient(focus-angle 0, focus-distance 0%, center 0 0,  radius 0.5, reflect, #f8f542, #c2b326);
}

#bookmark-icon {
    -fx-icon-size: 14;    
    -fx-icon-color: #9f9f9f;
}

.progress-indicator {
    -fx-progress-color: #e17c08;
}

.progress-bar .bar {
    -fx-accent: default-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: rgb(80, 80, 80);
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1 1 1 1; /* its make really one-pixel-border */
    -fx-border-color: rgb(160, 160, 160);
}

.bg-black-style {
    -fx-background-color:  black;
}

.box {
    -fx-spacing: 50;
    -fx-alignment: center;
}

.box > .label {
    -fx-font-size: 1.3em;
    -fx-text-fill: #de2125;
}

.box > #toolbutton {
    -fx-font-size: 1.5em;
    -fx-text-fill: derive(#2125de, 30%);
}

#toolbutton, #tooltoggle-button, #menuButton {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

#tooltoggle-button:selected, #menuButton:selected{
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
    -fx-text-fill: orange;
}

#toolbutton:hover, #menuButton:hover{
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
}

#toolbutton:armed, #tooltoggle-button:armed, #menuButton:armed {
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,.2);
}

.context-menu {
    -fx-background-color: rgb(80, 80, 80);
    -fx-text-fill: #9f9f9f;
}

.menu-item .label {
    -fx-text-fill: #9f9f9f;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.tree-view .tree-cell{
    -fx-background-color: transparent; 
    -fx-text-fill: #9f9f9f;   
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: #9f9f9f;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: #9f9f9f;
}

.tree-view .tree-cell:selected{
    -fx-background-color: #9f9f9f;
    -fx-text-fill: black;
}

.tree-cell:selected > .tree-disclosure-node > .arrow {
    -fx-background-color: black;
}

.accordion {
    -fx-box-border: transparent;
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape: " ";	
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.titled-pane *.column-header-background *.show-hide-columns-button,
.titled-pane *.scroll-bar:vertical *.increment-button,
.titled-pane *.scroll-bar:vertical *.decrement-button,
.titled-pane *.scroll-bar:vertical *.increment-arrow, 
.titled-pane *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.titled-pane *.scroll-bar:horizontal,
.titled-pane *.scroll-bar:horizontal *.track,
.titled-pane *.scroll-bar:horizontal *.track-background,
.titled-pane *.scroll-bar:horizontal *.thumb,
.titled-pane *.scroll-bar:horizontal *.increment-button,
.titled-pane *.scroll-bar:horizontal *.decrement-button,
.titled-pane *.scroll-bar:horizontal *.increment-arrow, 
.titled-pane *.scroll-bar:horizontal *.decrement-arrow {
    -fx-base: transparent;
    -fx-background-color: transparent;
}

.grid-view .image-grid-cell:hover {
    -fx-background-color:rgb(80, 80, 80);
    -fx-background-radius: 3.0;
    -fx-padding: 8;
}

.grid-view .image-grid-cell:selected {
    -fx-background-color:white;
    -fx-border-style: solid;
    -fx-border-width: 3 3 3 3; /* its make really one-pixel-border */
    -fx-border-color: white;
}

#MediaGridCell, #MediaGridCellSelected, #MediaGridCellStackedDetails {
    -fx-background-color: rgb(80, 80, 80); 
    -fx-background-radius: 5; 
    -fx-border-radius: 5; 
    -fx-border-width: 0; 
    -fx-padding: 10; 
    -fx-pref-width: 145;         
    -fx-pref-height: 130;
    -fx-max-width: 145;
    -fx-max-height: 130;        
}

#MediaGridCellStacked, #MediaGridCellSelectedStacked {
    -fx-background-color: rgb(60, 60, 60), rgb(70, 70, 70), rgb(80, 80, 80); 
    -fx-background-radius: 5; 
    -fx-border-radius: 5; 
    -fx-border-width: 0; 
    -fx-padding: 10; 
    -fx-pref-width: 145;         
    -fx-pref-height: 130;
    -fx-max-width: 145;
    -fx-max-height: 130;    
    -fx-background-insets: 8 -8 -8 8,4 -4 -4 4,0;
}

#MediaGridCell:hover {
    -fx-background-color:rgb(100, 100, 100);
}

#MediaGridCellStackedDetails, #MediaGridCellSelectedStackedDetails {
    -fx-background-color: rgb(80, 80, 80); 
    -fx-background-radius: 5; 
    -fx-border-radius: 5; 
    -fx-border-width: 0; 
    -fx-padding: 10; 
    -fx-pref-width: 145;         
    -fx-pref-height: 130;
    -fx-max-width: 145;
    -fx-max-height: 130;        
}

#MediaGridCellStacked:hover {
    -fx-background-color:rgb(80, 80, 80), rgb(90, 90, 90), rgb(100, 100, 100);
}


#MediaGridCellSelectedStackedDetails {
    -fx-border-color: default-color;      
    -fx-border-width: 2px;
}

#MediaGridCellSelectedStacked {
    -fx-background-color:derive(default-color, 60%),derive(default-color, 40%),derive(default-color, 20%);
    -fx-background-insets: 8 -8 -8 8,4 -4 -4 4,0;
}

#MediaGridCellSelected {
    -fx-background-color:derive(default-color, 20%);      
}

#MediaLoadingProgressIndicator{
    -fx-pref-width: 20;         
    -fx-pref-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
}

#keywordsPane *.text-field, #keywordsPane *.text-area .content {
    -fx-background-color: rgb(80, 80, 80); 
    -fx-text-fill: rgb(150, 150, 150);     
}

#keywordsPane *.text-area {
    -fx-background-color: transparent;    
    -fx-text-fill: rgb(150, 150, 150);     
}

#keywordsPane *.label {
    -fx-text-fill: #9f9f9f;
}

.popover > .content {
    -fx-background-color: rgb(60,60,60); 
    -fx-padding: 5;    
}

.popover > .border {
	-fx-stroke: linear-gradient(to bottom, rgba(60,60,60, .3), rgba(60, 60, 60, .7)) ;
	-fx-stroke-width: 1;
	-fx-fill: rgba(60.0,60.0,60.0, .95);
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
}

.popover > .content > .titlePane > .content > .title > .text {
    -fx-text-fill:red;
}

.dialog {
    -fx-background-color: #9f9f9f;
}

#AboutText{
    -fx-fill: white;
    -fx-font-size:18pt;
    -fx-font-weight: bold;
}

#EditorMediaView{
    -fx-border-color: default-color;    
}

#CollectorGreen{
    -fx-icon-color: green;   
}

#CollectorRed{
    -fx-icon-color: red;    
}

.toggle-switch:selected .thumb-area {
    -fx-background-color: rgb(140, 140, 140);
}

.toggle-switch .thumb-area {
    -fx-background-color: rgb(80, 80, 80);
}

.check-menu-item:checked
{
    -fx-mark-color: rgb(140, 140, 140);
}


