# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    tags:
    - '*'

jobs:
  build-osx:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 15
      uses: actions/setup-java@v1
      with:
        java-version: 15

    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      run: mvn clean compile package -Ppackage -f LightZoneFX/pom.xml
    
    - name: upload-osx
      uses: actions/upload-artifact@v2
      with:
       name: lightzonefx-osx
       path: LightZoneFX/target/package/*

  build-win:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 15
      uses: cescoffier/setup-jdk@v1.1.3
      with:
        java-version: 15

    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      run: mvn -B clean compile package -Ppackage -f LightZoneFX/pom.xml

    - name: upload-win
      uses: actions/upload-artifact@v2
      with:
       name: lightzonefx-win
       path: LightZoneFX/target/package/*

  build-linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 15
      uses: actions/setup-java@v1
      with:
        java-version: 15

    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      run: mvn clean compile package -Ppackage -f LightZoneFX/pom.xml
    
    - name: upload-linux
      uses: actions/upload-artifact@v2
      with:
       name: lightzonefx-linux
       path: LightZoneFX/target/package/*
